shamefully-hoist=true
strict-peer-dependencies=false
enable-pre-post-scripts=true
registry=https://registry.npmmirror.com
network-timeout=60000
fetch-retries=5
fetch-retry-mintimeout=20000
registry=https://registry.npmjs.org/
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
